<ion-header>
  <ion-navbar>
    <ion-title>profilePhoto</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-row>
        <ion-col col-12 id="profileTitle"><h2>Profile</h2></ion-col>
    </ion-row>

    <ion-card>
        <img class="profilePhoto" *ngIf="userImage" [src]="userImage" (load)="imageLoaded()"/>
        <!--
        <img class="profilePhoto" *ngIf="!userImage && userGender=='Male'" src="assets/male.png" (load)="imageLoaded()"/>
        <img class="profilePhoto" *ngIf="!userImage && userGender=='Female'" src="assets/female.png" (load)="imageLoaded()"/>
        -->
        <ion-card-content>
          <button id="chooseImageButton" ion-button (click)="openImageChooser()" icon-end>Choose Image <ion-icon name="photos"></ion-icon></button>
        </ion-card-content>
      </ion-card>

    <ion-row>
      <ion-col>
          <p>Clear frontal face photos are an important way for hosts and guests to learn about each other.</p>
          <p>It's not much fun to host a landscape! Please upload a photo that clearly shows your face.</p>
      </ion-col>
    </ion-row>

    <ion-row>
        <ion-col col-12><button ion-button full (click)="uploadImage()" icon-end>Save <ion-icon name="checkmark-circle-outline"></ion-icon></button></ion-col>
    </ion-row>

</ion-content>
