<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <img src="assets/logo.png" alt="StayPlanet" class="logoHeader" (click)="goHome()">
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goHome()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>

  <button ion-button block icon-end (click)="confirmBooking()">Confirm Booking
    <ion-icon name="basket"></ion-icon>
  </button>
  <p style="margin-top: 1%; margin-left: 5%; margin-right: 2%;">By clicking to complete this booking I acknowledge that I have read and accept the Rules & Restrictions.</p>

  <ion-card>
    <ion-card-header style="padding-top: 1%; padding-left: 5%;">Booking Summary</ion-card-header>
    <ion-card-content>
      <ion-item>
        <p>{{ room?.room_title }}</p>
        <p>{{ accommodation?.hotel_map_city }}, {{ accommodation?.hotel_map_country }}</p>
        <ion-icon name="star" *ngFor="let star of accommodation?.stars"></ion-icon>
        <ion-icon name="star-outline" *ngFor="let noStar of accommodation?.noStars"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>CheckIn: {{ checkInDate?.day }}/{{ checkInDate?.month + 1 }}/{{ checkInDate?.year }}</ion-label>
      </ion-item>
      <ion-item>
          <ion-label>CheckOut: {{ checkOutDate?.day }}/{{ checkOutDate?.month + 1 }}/{{ checkOutDate?.year }}</ion-label>
        </ion-item>
      <ion-item>
        <ion-label>Total Stay: {{ nights }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Entire home: {{ nights }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Average nightly rate: €{{ accommodation?.hotel_basic_price | number:'2.2-2' }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Tax & VAT: €{{ accommodation?.hotel_tax_fixed | number:'1.2-2' }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Booking Fee: €{{ accommodation?.booking_fee | number:'1.2-2'}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Total Amount: €{{ totalAmount | number:'2.2-2'}}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>Personal Information</ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Name</ion-label>
        <ion-input disabled type="text" [value]="user?.ai_first_name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Surname</ion-label>
        <ion-input disabled type="text" [value]="user?.ai_last_name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input disabled type="text" [value]="user?.accounts_email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Notes/Additional Request</ion-label>
        <ion-textarea #textarea [(ngModel)]="notes_addRequest" placeholder="You can enter any additional note or information you want to include with your order here..."
          maxLength="500"></ion-textarea>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>Coupon Code</ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label stacked>The discount will show on invoice page</ion-label>
        <ion-input type="text" [(ngModel)]="couponCode" placeholder="Enter coupon here..."></ion-input>
        <button ion-button (click)="applyCoupon()">Apply Coupon
          <ion-icon name="cut"></ion-icon>
        </button>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>