<ion-header>
  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title><img src="assets/logo.png" alt="StayPlanet" class="logoHeader" (click)="goHome()"></ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goHome()"><ion-icon name="home"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-row *ngIf="propertiesToShow?.length">
    <ion-col>{{ propertiesToShow.length }} properties found in {{ city }}</ion-col>
  </ion-row>

  <ion-row>
    <ion-col col-1></ion-col>
    <ion-col col-5>
      <button ion-button icon-end (click)="openFiltersModal()">Filters<ion-icon name="options"></ion-icon></button>
    </ion-col>
    <ion-col col-5>
      <button ion-button icon-end (click)="openOrderSelect()">Order<ion-icon ios="ios-switch" md="md-switch"></ion-icon></button>
      <ion-select #orderSelect [(ngModel)]="orderByOption" [selectOptions]="orderSelectOptions" (ionChange)="orderBy()" okText="Ok" cancelText="Cancel" interface="action-sheet" style="display:none">
        <ion-option value="lowestPrice">Lowest Price</ion-option>
        <ion-option value="highestPrice">Highest Price</ion-option>
      </ion-select>
    </ion-col>
    <ion-col col-1></ion-col>
  </ion-row>

  <ion-row>
    <ion-col id="propertieColumn" col-6 *ngFor="let property of propertiesToShow" (click)="goToProperty(property)">
      <ion-card>
        <ion-item>
          <ion-avatar item-start><img src="https://www.templateplazza.com/templates/nutp/images/man.png"></ion-avatar>
          <h2>Marty McFly</h2>
          <h2>{{ property?.price | currency:'EUR':true:'1.2-2' }}</h2>
        </ion-item>
        <img src={{property.mainImage}} style="height:120px">
        <ion-card-content id="propertieContent">
          <p>{{ property.product_name }}</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>