<ion-header>
    <ion-navbar>
      <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
      <ion-title><img src="assets/logo.png" alt="StayPlanet" class="logoHeader" (click)="goHome()"></ion-title>
      <ion-buttons end>
        <button ion-button icon-only (click)="goHome()"><ion-icon name="home"></ion-icon></button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>

    <div class="signin-box">
      <ion-row>
        <ion-col col-12><h2>Sign Up</h2></ion-col>
      </ion-row>

      <ion-slides>
          <ion-slide>
              <ion-item><ion-input type="text" placeholder="Name" [(ngModel)]="name"></ion-input></ion-item>
              <ion-item><ion-input type="text" placeholder="Surname" [(ngModel)]="surname"></ion-input></ion-item>
              <ion-item>
                  <ion-label>Gender</ion-label>
                  <ion-select [(ngModel)]="gender">
                      <ion-option [value]="Unspecified">Unspecified</ion-option>
                      <ion-option [value]="Female">Female</ion-option>
                      <ion-option [value]="Male">Male</ion-option>
                  </ion-select>
                </ion-item>
              <ion-item><ion-input type="email" placeholder="Your email" [(ngModel)]="email"></ion-input></ion-item>
              <ion-item><ion-input type="password" placeholder="Password" [(ngModel)]="password"></ion-input></ion-item>
              <ion-item><ion-input type="password" placeholder="Confirm password" [(ngModel)]="confirmPassword"></ion-input></ion-item>
              <button color="secondary" ion-button full (click)="continueSignUp()" icon-end>Continue <ion-icon name="checkmark-circle-outline"></ion-icon></button>
          </ion-slide>

          <ion-slide>

              <ion-item>
                  <ion-label>Membership Type</ion-label>
                  <ion-select><ion-option selected>Guest</ion-option><ion-option>Host</ion-option></ion-select>
              </ion-item>
              
              <ion-item>
                <ion-label>Country</ion-label>
                <ion-select [(ngModel)]="country" (ionChange)="getCountryRegions()">
                  <ion-option *ngFor="let country of countries" [value]="country.id">{{ country.name }}</ion-option>
                </ion-select>
              </ion-item>

              <ion-item *ngIf="regions">
                <ion-label>Region</ion-label>
                <ion-select [(ngModel)]="region">
                  <ion-option *ngFor="let region of regions" [value]="region.id">{{ region.name }}</ion-option>
                </ion-select>
              </ion-item>

              <ion-item *ngIf="region"><ion-input type="text" [(ngModel)]="city" placeholder="City"></ion-input></ion-item>

              <ion-item><ion-input type="text" placeholder="Post Code" [(ngModel)]="postCode"></ion-input></ion-item>

              <ion-item><ion-input type="text" placeholder="Full address" [(ngModel)]="address"></ion-input></ion-item>

              <ion-item>
                <ion-label color="danger" stacked>Captcha Code: {{ captchaCode }}</ion-label>
                <ion-input type="text" placeholder="Enter Code" [(ngModel)]="userCaptchaCode"></ion-input>
              </ion-item>

              <ion-item><ion-label>Inform me about Latest news</ion-label><ion-checkbox  [checked]="informAboutLatestNews" [(ngModel)]="informAboutLatestNews"></ion-checkbox></ion-item>

              <h6>By Signing up, you confirm that you accept our <a (click)="openTaCModel()">Terms and Conditions</a> and our <a (click)="openPPModel()">Privacy Policy</a></h6>

              <ion-row>
                <ion-col col-4>
                  <button ion-button icon-only (click)="goBack()"><ion-icon ios="ios-undo" md="md-undo"></ion-icon></button>
                </ion-col>
                <ion-col col-8>
                  <button color="secondary" ion-button full (click)="signUp()" icon-end>Sing Up <ion-icon name="md-done-all"></ion-icon></button>
                </ion-col>
              </ion-row>

          </ion-slide>
      </ion-slides>
    </div>
<!--
    <div class="socialLogin">
      <ion-row>
        <ion-col col-12 style="padding-bottom:0">
          <h5 style="margin-bottom:0">Or login with:</h5>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col col-2></ion-col>
        <ion-col col-3><ion-icon name="logo-facebook" class="socialNetworkIcons"></ion-icon></ion-col>
        <ion-col col-3><ion-icon name="logo-googleplus" class="socialNetworkIcons"></ion-icon></ion-col>
        <ion-col col-3><ion-icon name="logo-twitter" class="socialNetworkIcons"></ion-icon></ion-col>
        <ion-col col-1></ion-col>
      </ion-row>
    </div>
  -->
  </ion-content>