<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <img src="assets/logo.png" alt="StayPlanet" class="logoHeader" (click)="goHome()">
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goHome()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="card-background-page">

  <ion-card>
    <ion-icon name="expand" id="eyeIcon" (click)="openImagesModal()"></ion-icon>
    <img [src]="property.thumbnail_image">
  </ion-card>

<!--
  <ion-row>
    <ion-col id="colBookNow">
      <button id="buttonBookNow" ion-button full (click)="book()" icon-end>Book Now
        <ion-icon name="cart"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
-->
  <ion-row padding>
    <ion-col>
      <h5 id="h5ProductName">{{ property.hotel_title }}</h5>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col col-3>CheckIn <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon></ion-col>
    <ion-col col-3>CheckOut <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon></ion-col>
    <ion-col col-3>Nights <ion-icon name="moon"></ion-icon></ion-col>
    <ion-col col-3>Guests <ion-icon name="people"></ion-icon></ion-col>
  </ion-row>

  <ion-row>
      <ion-col col-3>{{ filters?.checkInDate?.day }}/{{ filters?.checkInDate?.month }}/{{ filters?.checkInDate?.year }}</ion-col>
      <ion-col col-3>{{ filters?.checkOutDate?.day }}/{{ filters?.checkOutDate?.month }}/{{ filters?.checkOutDate?.year }}</ion-col>
      <ion-col col-3>{{ nights }}</ion-col>
      <ion-col col-3>{{ guests }}</ion-col>
  </ion-row>

  <ion-row *ngFor="let room of rooms">
    <ion-grid>
      <ion-row>
        <ion-col col-6><ion-thumbnail item-start><img src="{{ room.thumbnail_image }}"></ion-thumbnail></ion-col>
        <ion-col col-6>
          <ion-row>
            <ion-col><button ion-button full (click)="selectNumberOfRooms(room.room_quantity)">No. Rooms</button></ion-col>
            <ion-col><span style="font-size: 2em">{{ roomsQuantity }}</span></ion-col>
          </ion-row>
          <ion-row>
            <ion-col><button ion-button full (click)="selectExtraBeds(room.extra_bed, room.extra_bed_charges)">Extra beds</button></ion-col>
            <ion-col><span style="font-size: 2em">{{ extraBeds }}</span></ion-col>
          </ion-row>
        </ion-col>

      </ion-row>
      <ion-row>
        <ion-col>
            <p>Price/night: €{{ room.room_basic_price | number:'2.2-2'}}</p>
            <p>Total price: €{{ room.room_basic_price * nights | number:'2.2-2'}}</p>
        </ion-col>
        <ion-col><button ion-button (click)="book(room)" full>Book</button></ion-col>
      </ion-row>
    </ion-grid>
  </ion-row>

  <p padding *ngIf="!rooms || rooms.length <= 0">No rooms availables for {{ property.hotel_title }} between
    {{ filters?.checkInDate?.day }}/{{ filters?.checkInDate?.month }}/{{ filters?.checkInDate?.year }} and 
    {{ filters?.checkOutDate?.day }}/{{ filters?.checkOutDate?.month }}/{{ filters?.checkOutDate?.year }}.
    <br>
    Try selecting different dates.
  </p>

  <ion-row>
    <ion-col *ngIf="!reviews">
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col *ngIf="reviews && reviews.length">
    </ion-col>
  </ion-row>

</ion-content>