<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-list-header class="sideMenuHeader">User</ion-list-header>
      <button menuClose ion-item (click)="loginTapped()" *ngIf="!user"><ion-icon item-left name="log-in"></ion-icon> Login</button>
      <button menuClose ion-item (click)="logoutTapped()" *ngIf="user"><ion-icon item-left name="log-out"></ion-icon> Logout</button>
      <button menuClose ion-item (click)="userTapped()" *ngIf="user"><ion-icon item-left name="contact"></ion-icon> Profile</button>
      <button menuClose ion-item (click)="signupTapped()" *ngIf="!user"><ion-icon item-left name="person-add"></ion-icon> Sign Up</button>
    </ion-list>

  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>