.date-picker{

    .layout-row{
    display: flex;
    flex-direction: row;
    }

    .layout-col{
        display:flex;
        flex-direction:column;
    }

    
    .horizontal-center{
        align-items:center;
    }

    .text-center{
        text-align: center;
    }

    .layout-background{
        background-color:white;
        height:100%
    }

    .padding-5{
        padding:5px;
    }
    .padding-10{
        padding:10px;
    }
    .arrow{
        margin-left:10px;
        margin-right:10px;
    }

    .day-item-header{
        width:100%;
        flex-wrap:wrap;
        text-align:center
    }
    .day-item-header-item{
        padding:10px;
        flex:1; 
        font-weight:bold;
    }
    .day-container{
        width:100%;
        flex-wrap:wrap;
        text-align:center
    }
    .day-item{
        flex:1;
        line-height:36px;
        min-height:36px;
    
    }
    .day-selected{
            background-color:#e0edff;
    }
    .day-disabled{
        color:#cfcfcf;
    }

    .dayofweek{
        font-size:1.5em;
    }
    .day{
        font-size:3em;
    }
    .month{
        font-size:1.5em;
    }
    .year{
        font-size:1.5em;
    }

    .month-year{
        font-size:1.3em;
        padding:10px;
    }

    .top-banner{
        background-color: #350235;
        color:white;
        width:100%;
        padding:10px;
        min-height:200px;
    }

    .calendar-item-container{
        width:100%;
        padding:5px;
        min-height:262px;
    }

    .action-container{
        width:100%;
        justify-content:Flex-end;
        margin:10px;
    }

    .cancel-button{
        color:grey
    }


}
