<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
  <div class="flb">
    <div class="Aligner-item Aligner-item--top"></div>
    <img id="logoSplashScreen" src="assets/logo.png">
    <div class="Aligner-item Aligner-item--bottom"></div>
  </div>
</div>

<ion-header>
  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title><img src="assets/logo.png" alt="StayPlanet" class="logoHeader"></ion-title>
    <ion-buttons end>
      <button ion-button icon-only><ion-icon name="home"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <div class="card-checkInOut">
    <ion-row>
      <ion-col>
        <ion-searchbar placeholder="Where do you want to go?" (ionInput)="search(searchBar)" (ionClear)="clearSearchBar(searchBar)" #searchBar></ion-searchbar>
        <!--
          <ion-list>
          <ion-item *ngFor="let city of searchedCities" (click)="cityTapped(city, searchBar)">{{ city.name }}, {{ city.country_name }}</ion-item>
        </ion-list>
        -->
        <ion-list *ngIf="searchedLocations && searchedLocations.length > 0">
          <ion-list-header color="light">Locations</ion-list-header>
          <ion-item *ngFor="let location of searchedLocations" (click)="locationTapped(location, searchBar)">{{ location.location }}, {{ location.country }}</ion-item>

        </ion-list>
        <ion-list *ngIf="searchedAcco && searchedAcco.length > 0">
            <ion-list-header color="light">Accomodations</ion-list-header>
            <ion-item *ngFor="let accommodation of searchedAcco" (click)="accommodationTapped(accommodation, searchBar)">{{ accommodation.hotel_title }} <ion-icon name="ios-key"></ion-icon></ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item (click)="showCalendar('IN')">
          <ion-label *ngIf="!filters.checkInDate">
            <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon> Check In
          </ion-label>
          <ion-label *ngIf="filters.checkInDate">
            <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon><span style="color: black;"> {{ filters.checkInDate.day }}/{{ filters.checkInDate.month + 1}}/{{ filters.checkInDate.year }}</span>
          </ion-label>
          <ion-input type="text" disabled></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item (click)="showCalendar('OUT')">
          <ion-label *ngIf="!filters.checkOutDate">
            <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon> Check Out
          </ion-label>
          <ion-label *ngIf="filters.checkOutDate">
            <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon><span style="color: black;"> {{ filters.checkOutDate.day }}/{{ filters.checkOutDate.month + 1}}/{{ filters.checkOutDate.year }}</span>
          </ion-label>
          <ion-input type="text" disabled></ion-input>
        </ion-item>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label><ion-icon name="people"></ion-icon> Guests</ion-label>
          <ion-select [(ngModel)]="guests" interface="action-sheet">
            <ion-option value=1>1 guest</ion-option>
            <ion-option value=2>2 guests</ion-option>
            <ion-option value=3>3 guests</ion-option>
            <ion-option value=4>4 guests</ion-option>
            <ion-option value=5>5 guests</ion-option>
            <ion-option value=6>6 guests</ion-option>
            <ion-option value=7>7 guests</ion-option>
            <ion-option value=8>8 guests</ion-option>
            <ion-option value=9>9 guests</ion-option>
            <ion-option value=10>+10 guests</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <button ion-button full icon-end (click)="searchProperties()">Explore<ion-icon name="search"></ion-icon></button>
      </ion-col>
    </ion-row>

  </div>

  <ion-list no-lines>
    <ion-list-header id="topAccoTitle">Top Accommodations</ion-list-header>
    <ion-item class="topAcco" *ngFor="let accommodation of featuredAccoToShow" (click)="featuredAccoTapped(accommodation, searchBar)">
      <ion-thumbnail item-start>
        <img src="{{accommodation?.thumbnail_image}}" (load)="imageLoaded()">
      </ion-thumbnail>
      <h2>€{{ accommodation?.hotel_basic_price }}</h2>
      <h3>{{ accommodation?.hotel_title }}</h3>
      <h3><ion-icon name="ios-navigate-outline"></ion-icon> {{ accommodation?.hotel_map_city }}, {{ accommodation?.hotel_map_country }}</h3>
      <!-- <h3>{{ accommodation?.hotel_stars }}</h3> -->
      <ion-icon name="star" *ngFor="let star of accommodation?.stars"></ion-icon>
      <ion-icon name="star-outline" *ngFor="let noStar of accommodation?.noStars"></ion-icon>
      <button ion-button clear item-end>View</button>
    </ion-item>
  </ion-list>

</ion-content>