<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
  <div class="flb">
    <div class="Aligner-item Aligner-item--top"></div>
    <img id="logoSplashScreen" src="assets/logo.png">
    <div class="Aligner-item Aligner-item--bottom"></div>
  </div>
</div>

<ion-header>
  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title><img src="assets/logo.png" alt="StayPlanet" class="logoHeader"></ion-title>
    <ion-buttons end>
      <button ion-button icon-only><ion-icon name="home"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <div class="card-checkInOut">
    <ion-row>
      <ion-col>
        <ion-searchbar placeholder="Where do you want to go?" (ionInput)="searchCities(searchBar)" #searchBar></ion-searchbar>
        <ion-list>
          <ion-item *ngFor="let city of searchedCities" (click)="cityTapped(city, searchBar)">{{ city.name }}, {{ city.country_name }}</ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item (click)="showCalendar('IN')">
          <ion-label *ngIf="!filters.checkInDate">
            <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon> Check In</ion-label>
          <ion-label *ngIf="filters.checkInDate">
            <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon> {{ filters.checkInDate.day }}/{{ filters.checkInDate.month + 1}}/{{ filters.checkInDate.year }}</ion-label>
          <ion-input type="text" disabled></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item (click)="showCalendar('OUT')">
          <ion-label *ngIf="!filters.checkOutDate">
            <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon> Check Out</ion-label>
          <ion-label *ngIf="filters.checkOutDate">
            <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon> {{ filters.checkOutDate.day }}/{{ filters.checkOutDate.month + 1}}/{{ filters.checkOutDate.year }}</ion-label>
          <ion-input type="text" disabled></ion-input>
        </ion-item>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Guests</ion-label>
          <ion-select [(ngModel)]="guests" interface="action-sheet">
            <ion-option value=1>1 guest</ion-option>
            <ion-option value=2>2 guests</ion-option>
            <ion-option value=3>3 guests</ion-option>
            <ion-option value=4>4 guests</ion-option>
            <ion-option value=5>5 guests</ion-option>
            <ion-option value=6>6 guests</ion-option>
            <ion-option value=7>7 guests</ion-option>
            <ion-option value=8>8 guests</ion-option>
            <ion-option value=9>9 guests</ion-option>
            <ion-option value=10>+10 guests</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <button ion-button full icon-end (click)="searchProperties()">Explore<ion-icon name="search"></ion-icon></button>
      </ion-col>
    </ion-row>

  </div>

  <ion-list>
    <ion-item *ngFor="let city of TDcitiesToShow" (click)="goToCity(city.id)">
      <ion-thumbnail item-start>
        <img src="http://francisco.stayplanet.ie/images/city/{{city?.citythumb}}" (load)="imageLoaded()">
      </ion-thumbnail>
      <h2>{{ city?.name }}</h2>
      <h3>{{ city?.country_name }}</h3>
      <button ion-button clear item-end>View</button>
    </ion-item>
  </ion-list>

</ion-content>